<div class="footer">
    <div class="house footer-icon">
        <a href="/facultyHome/<%= facultyData._id %>"><i class="fa-solid fa-house"></i><br>
            <span class="text">Home</span>
        </a>

    </div>
    <div class="search footer-icon">
        <a href="/search"><i class="fa-solid fa-magnifying-glass"></i><br>
            <span class="icon-text">Search</span>
        </a>
    </div>
    <div class="branch footer-icon">
        <a href="/courses"><i class="fa-solid fa-braille"></i><br>
            <span class="icon-text">Course</span>
        </a>
    </div>
    <div class="category footer-icon">
        <a href="/categories"><i class="fa-solid fa-list"></i><br>
            <span class="icon-text">Categories</span>
        </a>
    </div>
</div>
