<header>
    <i class="fa-solid fa-bars" id="menuBar"></i>
    <h3><%= facultyData.department %></h3>
    <a href="/messageScreen"><i class="fa-regular fa-bell"></i></a>
</header>
<div class="side-navbar" id="sideBar">
    <div class="cross" id="cross">X</div>
    <div class="user-profile">
        <img src="https://pluspng.com/img-png/png-user-icon-icons-logos-emojis-users-2400.png" alt="user">
        <p><%= facultyData.email %></p>
    </div>
    <ul>
        <li><a href="/facultyHome/<%= facultyData._id %>"><i class="fa-solid fa-house"></i> Home</a></li>
        <li><a href="#"><i class="fa-solid fa-gauge-high"></i> Dashboard</a></li>
        <li><a href="#"><i class="fa-solid fa-book-open"></i> Courses</a></li>
        <li><a href=""><i class="fa-solid fa-calendar-days"></i> Attendance</a></li>
        <li><a href="/"><i class="fa-solid fa-arrow-right-from-bracket"></i> Sign Out</a></li>
        <li><a href="#"><i class="fa-solid fa-circle-info"></i> About</a></li>
    </ul>
</div>
<div id="hide_bg"></div>