<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale = 1.0, user-scalable = no">
    <title>Document</title>
    <link rel="stylesheet" href="/css/LoginLevel.css">
</head>
<body>
    <div class="loginForm-container">
        <div class="login-college-logo">
            <img src="https://i.ibb.co/WD5LpZS/NGP1-removebg-preview.png" alt="Logo">
        </div>
        <div class="faculty-form-container">
            <form method="post" action="">
                <input type="email" placeholder="registered email Id" name="formEmail">
                <input type="number" placeholder="registration number" name="formRegNumber">
                <button>Check</button>
            </form>
        </div>
    </div>
</body>
</html>
