<%- include("includes/homeHead.ejs") %>
<body>
    <div class="error-container">
        <h1 class="status_code"><%= status %></h1>
        <p class="message"><%= message %></p>
        <br><br>
        <h2>Go Back</h2>
    </div>
</body>
</html>