<%- include("includes/loginPageHead.ejs") %>
<body>
    <div class="facultyRegForm-container">
            <form method="post" action="/addNewFaculty" novalidate class="needs-validation" autocomplete="off" spellcheck="false">
                <select name="facultyDepartment" id="branch" required>
                    <option value="none">Select Department</option>
                    <option value="Computer Science">Computer Science</option>
                    <option value="Mechanical Engg.">Mechanical Engg.</option>
                    <option value="Electrical">Electrical Engg</option>
                    <option value="Civil Engg.">Civil Engg.</option>
                    <option value="Electronics Engg.">Electronics Engg.</option>
                </select>
                <input type="text" placeholder="enter your name " name="facultyname" required class="form-control">
                <input type="email" placeholder="enter email" name="facultyemail" required class="form-control">
                <input type="text" placeholder="enter mobile number" name="facultymobile" required minlength="10" maxlength="10" class="form-control">
                <input type="password" placeholder="enter password" name="facultypassword" required class="form-control">
                <button id="regBtn">Register</button>
            </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="/js/validation.js"></script>
    
</body>
</html>