<%- include("includes/loginPageHead.ejs") %>
<body>
    
    <div class="login-main-container">

        <div class="login-college-logo">
            <img src="https://i.ibb.co/WD5LpZS/NGP1-removebg-preview.png" alt="Logo">
        </div>

        <div class="form-container">
            <h2>Get Entry as</h2><br>
           <a href="/facultyLogin"><button>Faculty</button></a><br>
           <a href="/adminLogin"><button>Class Representative</button></a><br>
           <a href="/checkAttendance">check your attendance</a>
        </div>
    </div>

</body>
</html>