<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale = 1.0, user-scalable = no">
    <title>Document</title>
    <link rel="stylesheet" href="/css/LoginLevel.css">
</head>
<body>
    
    <div class="login-main-container">

        <div class="login-college-logo">
            <img src="https://i.ibb.co/WD5LpZS/NGP1-removebg-preview.png" alt="Logo">
        </div>

        <div class="form-container">
            <h2>Get Entry as</h2>
           <a href="/facultyLogin"><button>Faculty</button></a>
           <a href=""><button>Class Representative</button></a>
           <a href="">check only attendance</a>
        </div>
    </div>

</body>
</html>